# Setup
Install the necessary dependencies with `pip install ipython-sql`

In [1]:
%load_ext sql
%sql sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

# How to submit
You are welcome to use this notebook to interactive try out different SQL queries.

To assess whether your queries are correct you will need to complete the 3 submission files provided.

Refer to the `README.md` for background on the dataset.

# Queries

## Pt1: Essentials

**1. Write a SQL query that finds the number of business ids in the businesses table**

In [15]:
%sql SELECT COUNT(business_id) FROM businesses

 * sqlite:///data/sfscores.sqlite
Done.

[(7619,)]

**2. Write a SQL query that finds out how many unique business names are registered with San Francisco Food health investigation organization and name the column as unique restaurant name count.**

In [3]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

**3. Write a SQL query that finds out what is the earliest and latest date a health investigation is recorded in this database.**

In [4]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

**4. How many businesses are there in San Francisco where their owners live in the same area (postal code/ zip code) as the business is located?**

In [5]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

**5. Out of those businesses, how many of them has a registered business certificate?**

In [6]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

## Pt2: Groupby

**6. Find out the distribution of the risk exposure of all the violations reported in the database. The first column of the result should 'risk_category' and the second column the count.**

In [7]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

**7. Find out the distribution of the risk exposure of all the violations reported in the database that are *water related*. Sort them by frequency (count) from high to low.**

In [8]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

** 8. What types of inspections does the authorities conduct and how often do they occur in general.
    Calculate the distribution of different types of inspections with their frequency (type, frequency)
    based on inspections records. Sort them in ascending order based on frequency.**

In [9]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

** 9. What is the average score given to restaurants based on the type of inspection?
    Based on the results, identify the types of inspections that are not scored (NULL)
    and remove those categories from the resultset. The 'average_score' should be rounded
    to one decimal. Sort the results in ascending order based on the average score. Hint: use the function `ROUND(score, 1)`**

In [10]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

** 10. Find the restaurant owners (owner_name) that own one or multiple restaurants in the city
    with the number of restaurants (num_restaurants) they own.
    Find the first top 10 owners ordered by descending order using the number of restaurants.**

In [11]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

## Pt3: Subqueries and joins

** 11. From the businesses table, select the top 10 most popular postal_code. They should be filtered to only count the restaurants owned by people/entities that own 5 or more restaurants. The final result should return a row (postal_code, count) for each 10 selection and be sorted by descending order to get the most relevant zip codes
**

In [12]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

**12. First let's get an idea about the inspection score our competition has.
    Based on multiple inspections, find out the minimum Score (as "min_score"),
    average Score (as "avg_score") and maximum Score (as "max_score") for all restaurant in post code "94103".
    The average score should be rounded to one decimal.**

In [13]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'

** 13. Now lets get more serious, and look at how many times restaurants in Market street
    (postal_code: 94103) has committed health violations and group them based on their risk category.
    The output should be (risk_category, count as frequency) and sorted in descending order by frequency**

In [14]:
%sql

 * sqlite:///data/sfscores.sqlite

'Connected: @data/sfscores.sqlite'